
<div id="meme_news_header" class="page-header fixedElement">
	<h1>
		Troll web agency <small>where news meet meme culture.</small>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	
		<a href="#" id="post_form_pop" class="btn" data-html="true" data-placement="bottom" 
				data-original-title="Send us a news! We will publish it">Send a news :D</a>  
	</h1>
	<div id="popover_content_wrapper" style="display:none">
		<%= render "form_post" %>
	</div>
</div>

