
<div class="row">
	<% if flash[:notice] %>
		<div id="notice" class="alert alert-success" >
			<%= flash[:notice] %>
		</div>
	<% end %>
</div>  
  
<div class="row">
	<h3>News of the day</h3>
</div>

<% @posts.each do |post| %>
  <div class="row">
  	<%= render :partial => 'post', :locals => { :post => post } %>
  </div>
<% end %>

       
       

